{% load static %}
<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style-reservas.css' %}">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">

    <title>EL COMILON | Reservas</title>
</head>
<body>
    <div class="header_container">
        
    {% include 'base/navbar.html' %}

    {% include 'base/off-canvas.html' %}

    <div class="container d-flex justify-content-center align-items-center min-vh-100">
        <div class="row border rounded-5 p-3 bg-white shadow box-area position-relative">
            <div class="col-md-12 right-box">
                <div class="row align-items-center">
                    <div class="header-text mb-4 text-center">
                        <h2 class="text-secondary">¡Reserva tu mesa ahora!</h2>
                        <p class="text-secondary">Completa el siguiente formulario para reservar una mesa.</p>
                    </div>
                    <form id="reservaForm">
                        <div class="row mb-3">
                            <div class="col">
                                <input type="text" id="nombre" class="form-control form-control-lg bg-light text-secondary fs-6" placeholder="Nombre" required>
                            </div>
                            <div class="col">
                                <input type="text" id="apellido" class="form-control form-control-lg bg-light text-secondary fs-6" placeholder="Apellido" required>
                            </div>
                        </div>
                        <div class="input-group mb-3">
                            <input type="date" id="fecha" class="form-control form-control-lg bg-light text-secondary fs-6" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="time" id="hora" class="form-control form-control-lg bg-light text-secondary fs-6" required>
                        </div>
                        <div class="input-group mb-3">
                            <span class="input-group-text">+56</span>
                            <input type="tel" id="telefono" class="form-control form-control-lg bg-light text-secondary fs-6" placeholder="Teléfono" required>
                        </div>
                        <div class="input-group mb-3">
                            <input type="number" id="num_personas" class="form-control form-control-lg bg-light text-secondary fs-6" placeholder="Número de personas" min="1" required>
                        </div>
                        <div id="errors-container" class="mb-3"></div>
                        <div class="input-group mb-3">
                            <button type="submit" class="btn btn-lg btn-primary w-100 fs-6 bg-primary">Reservar</button>
                        </div>
                    </form>
                </div>
            </div> 
        </div>
    </div>

    {% include 'base/footer.html' %}

    <div class="modal fade" id="reservaConfirmadaModal" tabindex="-1" aria-labelledby="reservaConfirmadaModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="reservaConfirmadaModalLabel">Reserva Confirmada</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <p>¡Tu reserva ha sido confirmada!</p>
                    <p>Fecha: <span id="fechaReserva"></span></p>
                    <p>Hora: <span id="horaReserva"></span></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary" id="aceptarModal">Aceptar</button>
                </div>
            </div>
        </div>
    </div>
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.min.js" integrity="sha512-v2CJ7UaYy4JwqLDIrZUI/4hqeoQieOmAZNXBeQyjo21dadnwR+8ZaIJVT8EE2iyI61OV8e6M8PP2/4hpQINQ/g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://kit.fontawesome.com/0f29ac535c.js" crossorigin="anonymous"></script>
    <script src="{% static 'js/validaciones-reservas.js' %}"></script>
    <script src="{% static 'js/validaciones-offcanvas.js' %}"></script>
</body>
</html>
