* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  font-family: "Poppins", sans-serif;
}


body {
  font-family: 'Poppins', sans-serif;
  background: rgb(250, 247, 247);
  background-image: url('../images/reservas-bg.jpg'); 
  background-size: cover; 
  background-position: center;
}

.box-area {
  width: 630px;
}

.right-box {
  padding: 40px 30px 40px 40px;
}

::placeholder {
  font-size: 16px;
}

@media only screen and (max-width: 768px) {
  .box-area {
      margin: 0 10px;
  }
  .left-box {
      height: 100px;
      overflow: hidden;
  }
  .right-box {
      padding: 20px;
  }
}

.text-primary {
  color: #FF3A3A !important;
}

.bg-primary {
  background-color: #FF3A3A !important;
  border: #FF3A3A;
}

.text-secondary {
  color: #454554 !important;
}

.bg-light {
  background-color: rgb(250, 247, 247) !important;
}

.error-input {
  border: 1px solid red;
}

.navbar {
  width: 100%;
  height: 8vh;
  background-color: #F1F1F1;
}

.nav-item {
  margin: 0px 9px;
}

.nav-link {
  font-size: 16px;
  text-transform: uppercase;
  font-weight: 500;
}

.footer {
  width: 100%;
  height: 20vh;
  background-color: #454554;
  display: flex;
  flex-direction: column;
}

.footer_top {
  width: 100%;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heading_footer {
  color: #FF3A3A;
  font-size: 24px;
  font-weight: 700; 
}

.navbar_footer {
  padding-top: 10px;
  display: flex;
  justify-content: center;
  color: white;
}

.icon_content_footer {
  padding: 11px 15px;
  background-color: rgba(27, 27, 27, 0.829);
  color: rgb(250, 247, 247);
  border-radius: 45px;
  font-size: 16px;
  cursor: pointer;
}

.btn-iniciar-sesion {
  background-color: #FF3A3A;
  border-color: #FF3A3A;
}

.btn-iniciar-sesion:hover {
  background-color: #E62626;
  border-color: #E62626;
}